<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Menu Cursos</title>
</head>
<body>
    <nav class="bg-dark p-3">
        <ul class="nav justify-content-center gap-5 bg-gradient">
    
            <li class="nav-item">
                <a class="nav-link text-white fs-4" href="menu.html">Dashboard</a>
            </li>
    
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown">
                    Cadastro
                </a>
    
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="cadastroProf.html">
                            Professores
                        </a>
                    </li>
    
                    <li>
                        <a class="dropdown-item" href="cadastroCurso.html">
                            Cursos
                        </a>
                    </li>
                </ul>
    
            </li>
        </ul>

        <h2 class ="text-center mb-4 mt-5">Cursos Disponíveis</h2>
        <div id="exibirCursos"></div>

        <h2 class ="text-center mb-4 mt-5">Professores</h2>
        <div id="exibirProfessores"></div>        
    </nav>
    <script src="scripts/dashboardCursos.js"></script>
    <script src="scripts/dashboardProfs.js"></script>
</body>
</html>